/* MyForm.css */

.my-form {
  width: 50%; 
  /* margin: 0 auto; */
  /* text-align: center; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9; */
  padding: 20px; 
}
.my-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.my-form input {
  width: 100%;
  height: 60px; /* Update the height to 40px for consistency */
  font-size: 25px;
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.my-form input:focus {
  border-color: #4caf50;
}

.my-form button[title="Remove"]{
  width: 10px;
  height: 30px;
  background-color: #ff0000; /* Use different colors for Remove and Add buttons */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  /* margin: 0 10px;  */
}

.my-form .btn-add::after {
  content: '✚'; /* Unicode character for 'plus' */
  display: inline-block;
  margin-right: 60px;
  margin-left: 60px;
  width: 10px;
  height: 15px;

  color: #ffffff;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.my-form button[title="Remove"]::before {
  content: '✖';
}


.my-form .sumit,
.my-form .btn-add {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.my-form .sumit:hover,
.my-form .btn-add:hover {
  background-color: #45a049;
}

.my-form legend {
  display: none;
}
